@media(min-width:1100px) {
    #wrapper {
        padding-left: 20%;
        margin-top:  -2.8125rem;
    }
    #wrapper.toggled #page-content-wrapper {
        padding-left: 250px;
    }

    .sidebar-nav > .sidebar-brand {
    display: list-item !important;
    visibility: visible !important;
    }
    
    .tab-bar {
    visibility: hidden;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 20%;
        margin-left: -250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    .sidebar-nav {
        width: 100%;
        padding: 10% 0;
    }
    #page-content-wrapper {
        padding: 0px;
        margin-left: 0px !important;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
    #page-content-wrapper .container-fluid {
        margin-top: 20px;
    }
}

@media (max-width: 780px) {
    a.page-nav{
      display: none;
    }
    .slide-caption {
      position: relative;
      width:100%;
    }
    .slide-caption-text {
      padding: 10%;
    }
  
}