/* FONTS */

@font-face {
  font-family:'GothamBlack-Regular';
  src: url('../fonts/GothamBlack_gdi.eot');
  src: url('../fonts/GothamBlack_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamBlack_gdi.woff') format('woff'),
    url('../fonts/GothamBlack_gdi.ttf') format('truetype'),
    url('../fonts/GothamBlack_gdi.svg#GothamBlack-Regular') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}

@font-face {
  font-family:'GothamBold-Regular';
  src: url('../fonts/GothamBold_gdi.eot');
  src: url('../fonts/GothamBold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamBold_gdi.woff') format('woff'),
    url('../fonts/GothamBold_gdi.ttf') format('truetype'),
    url('../fonts/GothamBold_gdi.svg#GothamBold-Regular') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}

@font-face {
  font-family:'GothamBook-Regular';
  src: url('../fonts/GothamBook_gdi.eot');
  src: url('../fonts/GothamBook_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamBook_gdi.woff') format('woff'),
    url('../fonts/GothamBook_gdi.ttf') format('truetype'),
    url('../fonts/GothamBook_gdi.svg#GothamBook-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}

@font-face {
  font-family:'GothamLight-Regular';
  src: url('../fonts/GothamLight_gdi.eot');
  src: url('../fonts/GothamLight_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamLight_gdi.woff') format('woff'),
    url('../fonts/GothamLight_gdi.ttf') format('truetype'),
    url('../fonts/GothamLight_gdi.svg#GothamLight-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?4oupbs');
  src:url('../fonts/icomoon.eot?#iefix4oupbs') format('embedded-opentype'),
    url('../fonts/icomoon.woff?4oupbs') format('woff'),
    url('../fonts/icomoon.ttf?4oupbs') format('truetype'),
    url('../fonts/icomoon.svg?4oupbs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow413:before {
  content: "\e600";
}

.row .row{
  margin-right: 0;
  margin-left: 0;
}

.row{
  max-width: 100rem; 
}

a{
  webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* SIDEBAR */


/* Toggle Styles */
.tab-bar,
.tab-bar .menu-icon {
    background: #f4f4f4;
    color: #999999;
    }
.tab-bar {
  width: 100%;
  }    
.tab-bar .menu-icon span::after {
box-shadow: 0 0px 0 1px #999, 0 7px 0 1px #999, 0 14px 0 1px #999;
}
.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6 {
color: #999;
}
.tab-bar img{
  height: 80%;
  margin:0;
  padding: 5px;
}
#wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    left: 250px;
    width: 20%;
    height: 100%;
    margin-left: -520px;
    overflow: hidden;
    background: #f4f4f4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper.toggled {
    margin-left: -250px;
    z-index: 1000;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: auto;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #FFF;
}
#page-content-wrapper.toggled {
    width: 100%;
    margin-left: 0px;
    z-index: 2;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 20% 0 10% 0;
    list-style: none;
    font-family: "GothamRounded-Medium", Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

.sidebar-nav li {
    line-height: 40px;
    margin: 0;
    font-size: 0.700em;
    font-weight: normal;
    border-top: 1px solid #bccfd2;
    width: 75%;
    margin-left: 30px;
}

.sidebar-nav li:last-child{
  border-bottom: 1px solid #bccfd2;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color:#7ba7ae;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


#logo{
  width: 80%;
  margin-left: 20px; 
  padding: 10% 15% 0;
}

#sidebar-wrapper h1{
  font-family: "GothamRounded-Medium";
  font-size: 0.750em;
  text-transform: uppercase;
  color: #7ba7ae;
  margin-left: 30px;
}
#sidebar-wrapper h1 a{
  color: #7ba7ae;
}
#sidebar-wrapper p{
  font-family: "GothamBook-Regular";
  font-size: 0.625em;
  text-transform: uppercase;
  color: #767a7b;
  margin-left: 30px;
}

#sidebar-copy span{
  font-size: 0.525em;
}


/* INDEX */

.column, .columns{
  padding: 0;
}

.slide {
  position: relative;
}

.slide-caption {
  top: 0;
  height: 100%;
  right: 0;
  position: absolute;
  width: 300px;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
}

.slide-caption-text{
  padding: 40% 10%;
}

.slide-caption h1{
  font-family: "GothamBold-Regular";
  font-size: 0.875em;
  color: #79a3aa;
}

.slide-caption p{
  font-family: "GothamBook-Regular";
  color: #fff;
  font-size: 0.750em;
}

.slide-caption hr{
  border: solid #e3e3e3;
  border-width: 2px 0 0;
  clear: both;
  margin: 0.85rem 0;
  height: 0;
  width: 68px;
}

.slide-caption .button{
  width:105px;
  height: 22px;
  background-color: #7ba7ae;
  padding: 0.25em;
  font-family: "GothamRounded-Medium";
  font-size: 0.875em;

}

#home-slider{
  overflow: hidden;
}

.block{
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects{
  background-image: url('../img/our-projects.jpg');
}

.team{
  background-image: url('../img/team.jpg');
  background-position: 0% 30%;
}

.partners-consultants{
  background-image: url('../img/partners-consultants.jpg');
}

.land-aquisition{
  background-image: url('../img/land-aquisition.jpg');
}

.about-block{
  height: 100%;
  width:100%;
  background: #4d738a;
}

.block-overlay {
  top: 0;
  height: 100%;
  right: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.4);

}


.block-overlay p{
  font-family: "GothamRounded-Medium", Helvetica, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875em;
  text-indent: 30px;
  position: absolute;
  bottom: 0;
}

.block-overlay span{
  position: absolute;
  right: 0;
  bottom:0;
  padding: 10px 20px;
  color: #7ba7ae;
  font-size: 35px;
  webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.block-overlay:hover span{
  color: #fff;
}




/* BODY */

.page-title{
  padding: 50px;
}
.page-content{
  padding: 0 50px 50px 50px;
}

.page-title h1{
  padding: 20px 0 50px 0;
  font-family: "GothamRounded-Medium";
  text-transform: uppercase;
  font-size: 1.125em;
  color: #79a3aa;
}

.page-content h2{
  font-family: "GothamRounded-Medium";
  text-transform:uppercase;
  font-size: 0.750em;
  color: #767a7b;
}
.page-content p{
  font-family: "GothamBook-Regular";
  font-size: 0.750em;
  color: #56585a;
}

.page-content ul{
  list-style: none;
  font-family: "GothamBook-Regular";
  font-size: 0.750em;
  color: #56585a;
  margin: 0;
}
.page-content ul i{
  color: #79a3aa;
  padding-right: 15px;
}

.down-arrow{
  background-image: url('../img/down-arrow.png');
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50px;
  padding: 50px;
}

.page-nav{
  font-family: "GothamRounded-Medium";
  text-transform: uppercase;
  font-size: 0.625em;
  color: #7ba7ae;
}
.page-nav:hover{
  color: #999;
}

.page-content .button{
  background-color: #7ba7ae;
  font-family: "GothamRounded-Medium";
  font-size: 0.750em;
  text-transform: uppercase;
}

.page-content .date{
  color: ##767a7b;
  font-family: "GothamBold-Regular";
  font-size: 0.625em;
}

.page-content .news-item{
  margin-bottom: 2em;
}

.page-content .partner{
  color: #56585a;
  font-family: "GothamRounded-Medium";
  padding: 15px 15px 15px 0;
}

.page-content .partner-site{
  font-family: "GothamRounded-BookItalic";
  color: #79a3aa;
}

.page-content .project-details{
  margin-bottom: 2em;
}

.page-content .project-details img:before{
  content:"";
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background:rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
  zoom: 100;
}

.page-content .project-details h4{
  font-family: "GothamBook-Regular";
  color: #79a3aa;
  text-transform: uppercase;
  font-size: 0.625em;}

.page-content .project-details h4 span{
  font-family: "GothamBold-Regular";
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  box-shadow: none;
  font-family: "GothamRounded-Medium";
  font-size: 0.750em;
  color: #767a7b;
  text-transform: uppercase;
}

form .button{
  right:35px;
  position: absolute;
}

.accordion .accordion-navigation > a{
  background-color: #FFF;
  border-bottom: 1px solid #79a3aa;
  font-family: "GothamRounded-Medium";
  color: #56585a;
  font-size: 0.750em;
}

.accordion .accordion-navigation > a span{
  font-family: "GothamRounded-BookItalic";
  color: #79a3aa;
}

.accordion .accordion-navigation > a:hover{
  background-color: #FFF;
}

.accordion i{
  position: absolute;
  right: 50px;
  font-size: 2.125em;
  color: #7ba7ae;
}

.fancy-box .th{
  height:250px;
  width: 100%;
  overflow: hidden;
}

.fancy-box img{
    width: 100%;
  }

.th{
  border: none;
  box-shadow: none;
  margin: 1px;
}

.th:hover, .th:focus{
  box-shadow: none;  
}

.th:hover i{
  color: #79a3aa; 
  webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; 
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{
  background-image: url('fancybox_sprite.png');
}

.info-block{
  margin-bottom: 2em;
}